.meniu {
  background-color: #20232a;
  color: white;
  font-size: xx-large;
  padding: 30px;
}
.footer {
  background-color: #20232a;
  color: white;
  margin-bottom:0%;
}
#logoreact {
  color: #61dafb;
  font-size: xx-large;
}
